##**Non Graded Challenge 11**

By : Muhammad Rizki Herfian

Materi : Descriptive Statistics

##**Problems :**

Dengan menggunakan data covid_19_indonesia_time_series_all.csv(covidID.csv) Tentukanlah :
*   Cari Measure of Central Tendency dari data tersebut.
*   Cari Measure of Variance dari data tersebut.

Pertama mengimport library yang dibutuhkan yaitu pandas dan numpy

In [1]:
import pandas as pd
import numpy as np

Command `pd.read` untuk membaca data atau isi file csv.

In [2]:
data = pd.read_csv('covidID.csv')

Setelah berhasil membaca data lanjut eksplorasi data secara sederhana untuk menganalisis isi data.

In [3]:
data.head(10)

        Date Location ISO Code    Location  New Cases  ...  Name  Item  Kind  Hidden
0   1/8/2020             ID-JI  Jawa Timur          9  ...   NaN   NaN   NaN     NaN
1   1/9/2020             ID-JI  Jawa Timur          0  ...   NaN   NaN   NaN     NaN
2  1/10/2020             ID-JI  Jawa Timur          0  ...   NaN   NaN   NaN     NaN
3  1/11/2020             ID-JI  Jawa Timur          0  ...   NaN   NaN   NaN     NaN
4  1/12/2020             ID-JI  Jawa Timur          0  ...   NaN   NaN   NaN     NaN
5  1/13/2020             ID-JI  Jawa Timur          0  ...   NaN   NaN   NaN     NaN
6  1/14/2020             ID-JI  Jawa Timur          0  ...   NaN   NaN   NaN     NaN
7  1/15/2020             ID-JI  Jawa Timur          0  ...   NaN   NaN   NaN     NaN
8  1/16/2020             ID-JI  Jawa Timur          0  ...   NaN   NaN   NaN     NaN
9  1/17/2020             ID-JI  Jawa Timur          0  ...   NaN   NaN   NaN     NaN

[10 rows x 41 columns]

In [4]:
data[8140:8150]

            Date Location ISO Code             Location  ...  Item  Kind  Hidden
8140  11/12/2020             ID-KR       Kepulauan Riau  ...   NaN   NaN     NaN
8141  11/12/2020             ID-LA              Lampung  ...   NaN   NaN     NaN
8142  11/12/2020             ID-MA               Maluku  ...   NaN   NaN     NaN
8143  11/12/2020             ID-MU         Maluku Utara  ...   NaN   NaN     NaN
8144  11/12/2020             ID-NB  Nusa Tenggara Barat  ...   NaN   NaN     NaN
8145  11/12/2020             ID-NT  Nusa Tenggara Timur  ...   NaN   NaN     NaN
8146  11/12/2020             ID-PA                Papua  ...   NaN   NaN     NaN
8147  11/12/2020             ID-PB          Papua Barat  ...   NaN   NaN     NaN
8148  11/12/2020             ID-RI                 Riau  ...   NaN   NaN     NaN
8149  11/12/2020             ID-SR       Sulawesi Barat  ...   NaN   NaN     NaN

[10 rows x 41 columns]

In [5]:
data.tail(10)

           Date Location ISO Code           Location  ...  Item  Kind  Hidden
16273  7/9/2021             ID-PB        Papua Barat  ...   NaN   NaN     NaN
16274  7/9/2021             ID-RI               Riau  ...   NaN   NaN     NaN
16275  7/9/2021             ID-SR     Sulawesi Barat  ...   NaN   NaN     NaN
16276  7/9/2021             ID-SN   Sulawesi Selatan  ...   NaN   NaN     NaN
16277  7/9/2021             ID-ST    Sulawesi Tengah  ...   NaN   NaN     NaN
16278  7/9/2021             ID-SG  Sulawesi Tenggara  ...   NaN   NaN     NaN
16279  7/9/2021             ID-SA     Sulawesi Utara  ...   NaN   NaN     NaN
16280  7/9/2021             ID-SB     Sumatera Barat  ...   NaN   NaN     NaN
16281  7/9/2021             ID-SS   Sumatera Selatan  ...   NaN   NaN     NaN
16282  7/9/2021             ID-SU     Sumatera Utara  ...   NaN   NaN     NaN

[10 rows x 41 columns]

Command `Head, Irisan [:]` dan `Tail` adalah perintah sederhana untuk melakukan eksplorasi data, untuk mengetahui isi 10 data pertama, tengah dan terakhir.

Kemudian perintah `.shape` untuk mengetahui dengan cepat berapa jumlah baris dan kolom pada data tersebut.

In [6]:
data.shape

(16283, 41)

Data berisikan 16.283 baris dan 41 kolom, jika hanya ingin mengetahui kolom apa saja yang tersedia bisa menggunakan perintah dibawah ini.

In [10]:
data.columns

Index(['Date', 'Location ISO Code', 'Location', 'New Cases', 'New Deaths',
       'New Recovered', 'New Active Cases', 'Total Cases', 'Total Deaths',
       'Total Recovered', 'Total Active Cases', 'Location Level',
       'City or Regency', 'Province', 'Country', 'Continent', 'Island',
       'Time Zone', 'Special Status', 'Total Regencies', 'Total Cities',
       'Total Districts', 'Total Urban Villages', 'Total Rural Villages',
       'Area (km2)', 'Population', 'Population Density', 'Longitude',
       'Latitude', 'New Cases per Million', 'Total Cases per Million',
       'New Deaths per Million', 'Total Deaths per Million',
       'Case Fatality Rate', 'Case Recovered Rate',
       'Growth Factor of New Cases', 'Growth Factor of New Deaths', 'Name',
       'Item', 'Kind', 'Hidden'],
      dtype='object')

Kemudian saya ingin membersihkan data, dengan mencari apakah ada missing value dan menghapus kolom yang tidak diperlukan. Yang perlu dilakukan adalah menjalankan perintah `.info `untuk mengetahui info data dengan rinci.

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16283 entries, 0 to 16282
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         16283 non-null  object
 1   Location ISO Code            16283 non-null  object
 2   Location                     16283 non-null  object
 3   New Cases                    16283 non-null  int64
 4   New Deaths                   16283 non-null  int64
 5   New Recovered                16283 non-null  int64
 6   New Active Cases             16283 non-null  int64
 7   Total Cases                  16283 non-null  int64
 8   Total Deaths                 16283 non-null  int64
 9   Total Recovered              16283 non-null  int64
 10  Total Active Cases           16283 non-null  int64
 11  Location Level               16283 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     15788 non-null  object
 14  Country                      16283 non-null  object
 15  Continent                    16283 non-null  object
 16  Island                       15788 non-null  object
 17  Time Zone                    15788 non-null  object
 18  Special Status               2393 non-null   object
 19  Total Regencies              16283 non-null  int64
 20  Total Cities                 15814 non-null  float64
 21  Total Districts              16283 non-null  int64
 22  Total Urban Villages         15812 non-null  float64
 23  Total Rural Villages         15787 non-null  float64
 24  Area (km2)                   16283 non-null  int64
 25  Population                   16283 non-null  int64
 26  Population Density           16283 non-null  float64
 27  Longitude                    16283 non-null  float64
 28  Latitude                     16283 non-null  float64
 29  New Cases per Million        16283 non-null  float64
 30  Total Cases per Million      16283 non-null  float64
 31  New Deaths per Million       16283 non-null  float64
 32  Total Deaths per Million     16283 non-null  float64
 33  Case Fatality Rate           16283 non-null  object
 34  Case Recovered Rate          16283 non-null  object
 35  Growth Factor of New Cases   15298 non-null  float64
 36  Growth Factor of New Deaths  14344 non-null  float64
 37  Name                         0 non-null      float64
 38  Item                         0 non-null      float64
 39  Kind                         0 non-null      float64
 40  Hidden                       0 non-null      float64
dtypes: float64(17), int64(12), object(12)
memory usage: 5.1+ MB

Ternyata banyak data yang missing values, jadi pertama saya ingin membersihkan missing values tersebut, dengan perintah `.isnull().sum()` dapat membantu melihat total missing values pada data.

In [7]:
data.isnull().sum()

Date                               0
Location ISO Code                  0
Location                           0
New Cases                          0
New Deaths                         0
New Recovered                      0
New Active Cases                   0
Total Cases                        0
Total Deaths                       0
Total Recovered                    0
Total Active Cases                 0
Location Level                     0
City or Regency                16283
Province                         495
Country                            0
Continent                          0
Island                           495
Time Zone                        495
Special Status                 13890
Total Regencies                    0
Total Cities                     469
Total Districts                    0
Total Urban Villages             471
Total Rural Villages             496
Area (km2)                         0
Population                         0
Population Density                 0
Longitude                          0
Latitude                           0
New Cases per Million              0
Total Cases per Million            0
New Deaths per Million             0
Total Deaths per Million           0
Case Fatality Rate                 0
Case Recovered Rate                0
Growth Factor of New Cases       985
Growth Factor of New Deaths     1939
Name                           16283
Item                           16283
Kind                           16283
Hidden                         16283
dtype: int64

Kemudian perintah `.describe()` untuk mengetahui total nilai keseluruhan pada data kolom tertentu yang memiliki tipe data number.

In [9]:
data.describe()

          New Cases    New Deaths  New Recovered  ...  Item  Kind  Hidden
count  16283.000000  16283.000000   16283.000000  ...   0.0   0.0     0.0
mean     301.271879      7.919364     248.015783  ...   NaN   NaN     NaN
std     1330.028199     32.171434     997.784905  ...   NaN   NaN     NaN
min        0.000000      0.000000       0.000000  ...   NaN   NaN     NaN
25%        6.000000      0.000000       2.000000  ...   NaN   NaN     NaN
50%       39.000000      1.000000      24.000000  ...   NaN   NaN     NaN
75%      127.000000      4.000000     106.000000  ...   NaN   NaN     NaN
max    38391.000000   1040.000000   28975.000000  ...   NaN   NaN     NaN

[8 rows x 29 columns]

Lanjut untuk melakukan proses data cleaning, pertama membuat variabel baru dan menggunakan perintah `.copy()` untuk membuat salinan data dan menjaga keasilan data utama.

In [11]:
dtc = data.copy()

In [12]:
dtc

            Date Location ISO Code           Location  ...  Item  Kind  Hidden
0       1/8/2020             ID-JI         Jawa Timur  ...   NaN   NaN     NaN
1       1/9/2020             ID-JI         Jawa Timur  ...   NaN   NaN     NaN
2      1/10/2020             ID-JI         Jawa Timur  ...   NaN   NaN     NaN
3      1/11/2020             ID-JI         Jawa Timur  ...   NaN   NaN     NaN
4      1/12/2020             ID-JI         Jawa Timur  ...   NaN   NaN     NaN
...          ...               ...                ...  ...   ...   ...     ...
16278   7/9/2021             ID-SG  Sulawesi Tenggara  ...   NaN   NaN     NaN
16279   7/9/2021             ID-SA     Sulawesi Utara  ...   NaN   NaN     NaN
16280   7/9/2021             ID-SB     Sumatera Barat  ...   NaN   NaN     NaN
16281   7/9/2021             ID-SS   Sumatera Selatan  ...   NaN   NaN     NaN
16282   7/9/2021             ID-SU     Sumatera Utara  ...   NaN   NaN     NaN

[16283 rows x 41 columns]

Pertama saya ingin menghapus kolom yang sekiranya tidak dibutuhkan, dengan menggunakan perintah dibawah ini:

In [13]:
columns = ['City or Regency', 'Name', 'Item','Kind','Hidden']
dtc.drop(columns, inplace=True, axis=1)

In [14]:
dtc.shape

(16283, 36)

Terlihat sekarang jumlah kolom menjadi 36. kemudian data yang masih missing values, ingin saya isi sesuai dengan isi data.

In [15]:
dtc.isnull().sum()

Date                               0
Location ISO Code                  0
Location                           0
New Cases                          0
New Deaths                         0
New Recovered                      0
New Active Cases                   0
Total Cases                        0
Total Deaths                       0
Total Recovered                    0
Total Active Cases                 0
Location Level                     0
Province                         495
Country                            0
Continent                          0
Island                           495
Time Zone                        495
Special Status                 13890
Total Regencies                    0
Total Cities                     469
Total Districts                    0
Total Urban Villages             471
Total Rural Villages             496
Area (km2)                         0
Population                         0
Population Density                 0
Longitude                          0
Latitude                           0
New Cases per Million              0
Total Cases per Million            0
New Deaths per Million             0
Total Deaths per Million           0
Case Fatality Rate                 0
Case Recovered Rate                0
Growth Factor of New Cases       985
Growth Factor of New Deaths     1939
dtype: int64

Dilihat dari kolom yang memiliki data missing paling banyak adalah kolom Special status, pertama saya ingin mencari tau isi data pada kolom Special status ada apa saja, dengan perintah `.unique()`.

In [19]:
dtc['Special Status'].unique()

array([nan, 'Daerah Khusus Ibu Kota', 'Daerah Istimewa', 'Daerah Khusus'],
      dtype=object)

Dapat dilihat diatas, jadi data yang "nan" akan saya isi dengan "Daerah Biasa" dengan asumsi bahwa daerah biasa itu daerah yang tidak tergolong atau masuk ke kategori daerah istimewa, khusus maupun ibukota.

In [22]:
dtc["Special Status"].fillna(
    value="Daerah Biasa",
    inplace=True
)

Kemudian untuk step membersihkan keseluruhan data sama seperti diatas langkah-langkahnya.

In [20]:
dtc.Province.unique()

array(['Jawa Timur', 'DKI Jakarta', nan, 'Jawa Barat', 'Riau', 'Banten',
       'Jawa Tengah', 'Sulawesi Tenggara', 'Bali', 'Kalimantan Timur',
       'Daerah Istimewa Yogyakarta', 'Sumatera Utara', 'Kepulauan Riau',
       'Sulawesi Selatan', 'Jambi', 'Maluku', 'Papua', 'Maluku Utara',
       'Sumatera Selatan', 'Aceh', 'Kalimantan Tengah', 'Lampung',
       'Sulawesi Tengah', 'Sulawesi Utara', 'Sumatera Barat',
       'Papua Barat', 'Kalimantan Utara', 'Sulawesi Barat',
       'Kalimantan Barat', 'Kalimantan Selatan',
       'Kepulauan Bangka Belitung', 'Bengkulu', 'Nusa Tenggara Barat',
       'Nusa Tenggara Timur'], dtype=object)

In [23]:
dtc["Province"].fillna(
    value="Luar Provinsi",
    inplace=True
)

In [24]:
dtc["Island"].fillna(
    value="Luar Pulau",
    inplace=True
)

In [25]:
dtc["Time Zone"].fillna(
    value="No Time",
    inplace=True
)

In [26]:
dtc["Total Cities"].fillna(
    value="0",
    inplace=True
)

In [27]:
dtc["Total Urban Villages"].fillna(
    value="0.0",
    inplace=True
)

In [28]:
dtc["Total Rural Villages"].fillna(
    value="0.0",
    inplace=True
)

In [29]:
dtc["Growth Factor of New Cases"].fillna(
    value="0.00",
    inplace=True
)

In [30]:
dtc["Growth Factor of New Deaths"].fillna(
    value="0.00",
    inplace=True
)

Jika sudah terisi semua, cek kembali dengan menggunakan perintah `isnull().sum()` untuk melihat apakah masih ada missing values, Jika sudah 0 semua berarti dapat dipastikan data sudah bersih.

In [31]:
dtc.isnull().sum()

Date                           0
Location ISO Code              0
Location                       0
New Cases                      0
New Deaths                     0
New Recovered                  0
New Active Cases               0
Total Cases                    0
Total Deaths                   0
Total Recovered                0
Total Active Cases             0
Location Level                 0
Province                       0
Country                        0
Continent                      0
Island                         0
Time Zone                      0
Special Status                 0
Total Regencies                0
Total Cities                   0
Total Districts                0
Total Urban Villages           0
Total Rural Villages           0
Area (km2)                     0
Population                     0
Population Density             0
Longitude                      0
Latitude                       0
New Cases per Million          0
Total Cases per Million        0
New Deaths per Million         0
Total Deaths per Million       0
Case Fatality Rate             0
Case Recovered Rate            0
Growth Factor of New Cases     0
Growth Factor of New Deaths    0
dtype: int64

In [32]:
dtc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16283 entries, 0 to 16282
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         16283 non-null  object
 1   Location ISO Code            16283 non-null  object
 2   Location                     16283 non-null  object
 3   New Cases                    16283 non-null  int64
 4   New Deaths                   16283 non-null  int64
 5   New Recovered                16283 non-null  int64
 6   New Active Cases             16283 non-null  int64
 7   Total Cases                  16283 non-null  int64
 8   Total Deaths                 16283 non-null  int64
 9   Total Recovered              16283 non-null  int64
 10  Total Active Cases           16283 non-null  int64
 11  Location Level               16283 non-null  object
 12  Province                     16283 non-null  object
 13  Country                      16283 non-null  object
 14  Continent                    16283 non-null  object
 15  Island                       16283 non-null  object
 16  Time Zone                    16283 non-null  object
 17  Special Status               16283 non-null  object
 18  Total Regencies              16283 non-null  int64
 19  Total Cities                 16283 non-null  object
 20  Total Districts              16283 non-null  int64
 21  Total Urban Villages         16283 non-null  object
 22  Total Rural Villages         16283 non-null  object
 23  Area (km2)                   16283 non-null  int64
 24  Population                   16283 non-null  int64
 25  Population Density           16283 non-null  float64
 26  Longitude                    16283 non-null  float64
 27  Latitude                     16283 non-null  float64
 28  New Cases per Million        16283 non-null  float64
 29  Total Cases per Million      16283 non-null  float64
 30  New Deaths per Million       16283 non-null  float64
 31  Total Deaths per Million     16283 non-null  float64
 32  Case Fatality Rate           16283 non-null  object
 33  Case Recovered Rate          16283 non-null  object
 34  Growth Factor of New Cases   16283 non-null  object
 35  Growth Factor of New Deaths  16283 non-null  object
dtypes: float64(7), int64(12), object(17)
memory usage: 4.5+ MB

Semua data sudah terisi full 16.283 kemudian copy data yang sudah dibersihkan.

In [33]:
data_clean = dtc.copy()

In [34]:
data_clean.head(15)

         Date  ... Growth Factor of New Deaths
0    1/8/2020  ...                        0.00
1    1/9/2020  ...                        0.33
2   1/10/2020  ...                           1
3   1/11/2020  ...                           3
4   1/12/2020  ...                           1
5   1/13/2020  ...                           0
6   1/14/2020  ...                           1
7   1/15/2020  ...                           1
8   1/16/2020  ...                           1
9   1/17/2020  ...                           1
10  1/18/2020  ...                           1
11  1/19/2020  ...                           1
12  1/20/2020  ...                           1
13  1/21/2020  ...                           1
14  1/22/2020  ...                           1

[15 rows x 36 columns]

Perintah untuk menyimpan data yang sudah dibersihkan dan bisa didownload untuk digunakan ke project berikutnya.

In [35]:
data_clean.to_csv('CovidClean.csv')

In [36]:
data_clean.dtypes

Date                            object
Location ISO Code               object
Location                        object
New Cases                        int64
New Deaths                       int64
New Recovered                    int64
New Active Cases                 int64
Total Cases                      int64
Total Deaths                     int64
Total Recovered                  int64
Total Active Cases               int64
Location Level                  object
Province                        object
Country                         object
Continent                       object
Island                          object
Time Zone                       object
Special Status                  object
Total Regencies                  int64
Total Cities                    object
Total Districts                  int64
Total Urban Villages            object
Total Rural Villages            object
Area (km2)                       int64
Population                       int64
Population Density             float64
Longitude                      float64
Latitude                       float64
New Cases per Million          float64
Total Cases per Million        float64
New Deaths per Million         float64
Total Deaths per Million       float64
Case Fatality Rate              object
Case Recovered Rate             object
Growth Factor of New Cases      object
Growth Factor of New Deaths     object
dtype: object

###**PROBLEM 1:**

Cari Measure of Central Tendency dari data tersebut. Sebagai catatan, yang dicari disini adalah nilai mean, median dan mode pada keseluruhan data, yang perlu digarisbawahi adalah, data yang memiliki tipe data Object hanya perlu dicari modenya saja dan data yang memiliki tipe data number (int,float,etc) dicari ketiganya.

**STEP 1 :**

Mencari Mode pada keseluruhan kolom data yang memiliki tipe data object dengan menggunakan perintah `.mode()`.

In [37]:
print ('Mode of Date                          : ' + str(data_clean['Date'].mode()[0]))
print ('Mode of Location ISO Code             : ' + str(data_clean['Location ISO Code'].mode()[0]))
print ('Mode of Location                      : ' + str(data_clean['Location'].mode()[0]))
print ('Mode of Location Level                : ' + str(data_clean['Location Level'].mode()[0]))
print ('Mode of Province                      : ' + str(data_clean['Province'].mode()[0]))
print ('Mode of Country                       : ' + str(data_clean['Country'].mode()[0]))
print ('Mode of Continent                     : ' + str(data_clean['Continent'].mode()[0]))
print ('Mode of Island                        : ' + str(data_clean['Island'].mode()[0]))
print ('Mode of Time Zone                     : ' + str(data_clean['Island'].mode()[0]))
print ('Mode of Special Status                : ' + str(data_clean['Special Status'].mode()[0]))
print ('Mode of Total Cities                  : ' + str(data_clean['Total Cities'].mode()[0]))
print ('Mode of Total Urban Villages          : ' + str(data_clean['Total Urban Villages'].mode()[0]))
print ('Mode of Total Rural Villages          : ' + str(data_clean['Total Rural Villages'].mode()[0]))
print ('Mode of Case Fatality Rate            : ' + str(data_clean['Case Fatality Rate'].mode()[0]))
print ('Mode of Case Recovered Rate           : ' + str(data_clean['Case Recovered Rate'].mode()[0]))
print ('Mode of Growth Factor of New Cases    : ' + str(data_clean['Growth Factor of New Cases'].mode()[0]))
print ('Mode of Growth Factor of New Deaths   : ' + str(data_clean['Growth Factor of New Deaths'].mode()[0]))

Mode of Date                          : 1/1/2021
Mode of Location ISO Code             : ID-JI
Mode of Location                      : Jawa Timur
Mode of Location Level                : Province
Mode of Province                      : Jawa Timur
Mode of Country                       : Indonesia
Mode of Continent                     : Asia
Mode of Island                        : Sumatera
Mode of Time Zone                     : Sumatera
Mode of Special Status                : Daerah Biasa
Mode of Total Cities                  : 2.0
Mode of Total Urban Villages          : 35.0
Mode of Total Rural Villages          : 7724.0
Mode of Case Fatality Rate            : 0.00%
Mode of Case Recovered Rate           : 0.00%
Mode of Growth Factor of New Cases    : 1.0
Mode of Growth Factor of New Deaths   : 1.0

Kemudian mencari meannya, cara dibawah ini adalah cara manual sama seperti daiatas.

In [38]:
print ('Mean of New Cases : ' + str(data_clean['New Cases'].mean()))
print ('New Deaths        : ' + str(data_clean['New Deaths'].mean()))
print ('New Recovered     : ' + str(data_clean['New Recovered'].mean()))

Mean of New Cases : 301.27187864644105
New Deaths        : 7.919363753608057
New Recovered     : 248.01578333230978

Berikut command cara cepatnya, perintah `.mean() `untuk mencari mean dan `.median()` untuk mencari mediannya.

In [39]:
print("{} \t{} \t{} \t{}".format("Column Name", "Mean", "Median", "Mode").expandtabs(30))
print("-"*100)
for col in data_clean.select_dtypes("number"):
    print("{} \t{} \t{} \t{}".format(col, data_clean[col].mean(), data_clean[col].median(),data_clean[col].mode()).expandtabs(30))

Column Name                   Mean                          Median                        Mode
----------------------------------------------------------------------------------------------------
New Cases                     301.27187864644105            39.0                          0    0
dtype: int64
New Deaths                    7.919363753608057             1.0                           0    0
dtype: int64
New Recovered                 248.01578333230978            24.0                          0    0
dtype: int64
New Active Cases              45.33673156052325             2.0                           0    0
dtype: int64
Total Cases                   42746.73530676166             5941.0                        0    1
dtype: int64
Total Deaths                  1243.917644168765             149.0                         0    2
dtype: int64
Total Recovered               36894.2679481668              4484.0                        0    0
dtype: int64
Total Active Cases            4608.549714426089             851.0                         0    1
dtype: int64
Total Regencies               24.792912853896702            12.0                          0    12
dtype: int64
Total Districts               432.59528342443036            171.0                         0    666
dtype: int64
Area (km2)                    114077.48547564945            46717.0                       0    47803
dtype: int64
Population                    16057038.005527237            4340348.0                     0    40479023
dtype: int64
Population Density            768.3087311920076             103.84                        0    846.78
dtype: float64
Longitude                     113.42750195090004            112.73294140000002            0    112.732941
dtype: float64
Latitude                      -2.850092998606038            -2.9935949789999996           0   -7.723346
dtype: float64
New Cases per Million         20.67362156850719             7.67                          0    0.0
dtype: float64
Total Cases per Million       2977.1600515875457            1398.64                       0    0.22
dtype: float64
New Deaths per Million        0.4633464349321347            0.11                          0    0.0
dtype: float64
Total Deaths per Million      72.46239820671963             41.38                         0    0.0
dtype: float64

###**PROBLEM 2:**

Cari Measure of Variance dari data tersebut.

In [40]:
data_clean.describe()

          New Cases  ...  Total Deaths per Million
count  16283.000000  ...              16283.000000
mean     301.271879  ...                 72.462398
std     1330.028199  ...                 99.203343
min        0.000000  ...                  0.000000
25%        6.000000  ...                  4.980000
50%       39.000000  ...                 41.380000
75%      127.000000  ...                 93.520000
max    38391.000000  ...                854.680000

[8 rows x 19 columns]

Untuk mencari variannya hanya perlu menggunakan perintah `.var()` dan standar defiasinya menggunakan perintah `.std()`

In [41]:
print(data_clean.var())

New Cases                   1.768975e+06
New Deaths                  1.035001e+03
New Recovered               9.955747e+05
New Active Cases            3.027241e+05
Total Cases                 3.185998e+10
Total Deaths                2.444941e+07
Total Recovered             2.496455e+10
Total Active Cases          3.122316e+08
Total Regencies             4.852353e+03
Total Districts             1.477634e+06
Area (km2)                  1.054426e+11
Population                  2.066942e+15
Population Density          7.753848e+06
Longitude                   9.722442e+01
Latitude                    1.309480e+01
New Cases per Million       2.053885e+03
Total Cases per Million     2.487390e+07
New Deaths per Million      1.202938e+00
Total Deaths per Million    9.841303e+03
dtype: float64

In [42]:
print(data_clean.std())

New Cases                   1.330028e+03
New Deaths                  3.217143e+01
New Recovered               9.977849e+02
New Active Cases            5.502037e+02
Total Cases                 1.784936e+05
Total Deaths                4.944635e+03
Total Recovered             1.580017e+05
Total Active Cases          1.767008e+04
Total Regencies             6.965883e+01
Total Districts             1.215580e+03
Area (km2)                  3.247192e+05
Population                  4.546363e+07
Population Density          2.784573e+03
Longitude                   9.860245e+00
Latitude                    3.618674e+00
New Cases per Million       4.531981e+01
Total Cases per Million     4.987374e+03
New Deaths per Million      1.096785e+00
Total Deaths per Million    9.920334e+01
dtype: float64

SELESAI.